#main {
  /*margin-top: 60px;*/
}

#logo img {
  height: 80px;
}

.entries .price {
  font-size: 32px;
  font-weight: strong;
}

.entries .name {
  font-size: 22px;
}

.entries li.entry {
  margin: 20px 0;
}

.entries .public,
.entries .support,
.entries .equipment {
  padding-right: 2px;
  color: #333;
}

.entries .rating {
  color: #ead007;
}

.public .glyphicon {
  color: #4a4;
}

.support .glyphicon {
  color: #4D6EC7;
}

.equipment .glyphicon {
  color: purple;
}

.entries .entry-headline {
  padding-left: 20px;
}

.entries .main-image {
  overflow: hidden;
  width: 200px;
  height: 120px;
}

.entries .main-image img {
  width: 250px;
  margin-left: -10px;
  margin-top: -10px;
}

.entries .entry-except-image > .row {
  margin-bottom: 10px;
}

.imlookingfor {
  margin: 20px 0;
}

.navbar {
  margin-bottom: 0px;
}

.findyourspace {
  background: no-repeat url("/images/bg.jpg");
  height: 600px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.findyourspace h1 {
  font-size: 80px;
  color: #fff;
  margin: 100px 80px;
}

.findyourspace .imlookingfor {
  padding: 20px;
  color: #fff;
  font-size: 28px;
  margin-left: 60px;
}

.entry-list .imlookingfor {
  font-size: 18px;
  margin: 30px 0;
  margin-left: 50px;
}

.entry-list .imlookingfor button[type=submit] {
  letter-spacing: 2px;
}

button[type=submit] {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.utility-buttons button,
.entry-list .actions button {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry-list .filter {
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 0 0 15px 0;
}

.entry-list .price {
  text-align: right;
}

.entry-list .filter h3 {
  font-size: 16px;
  margin: 15px 0;
}

.entry-list .actions {
  position: absolute;
  top: 16px;
  left: 120px;
}

.utility-buttons {
  margin-top: 38px;
}

.entry-list .filter-map #map {
  margin-top: 15px;
}

.details .actions {
  margin-top: 20px;
}

.details .price {
  display: block;
  font-size: 30px;
}

.details .features span {
  margin: 0px 0;
  font-size: 20px;
}

.details .features > div {
  margin: 20px 0;
}

.details .review-text * {
  text-align: center;
}

.details .review-text {
  padding: 5px;
  margin: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.details .reviews-count {
  font-size: 22px;
}

.details #map-canvas {
  height: 300px;
  width: 100%;
}

.details .main-image {
  width: 100%;
}

footer {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #eee;
}

/* link blue */
a {
  color: #1FA09C;
}

a:active, a:hover {
  color: #58C2DB;
}

.btn-primary {
  background-color: #1FA09C;
  border-color: #1FA09C;
}

.details .description {
  font-size: 18px;
  line-height: 28px;
}

.details .location {
  font-size: 20px;
}

.details .image {
  margin: 20px 0;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open 
.dropdown-toggle.btn-primary {  
  background-color: #58C2DB;
  border-color: #58C2DB;
}

