
<div class="entry-list">

  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-10 pull-right">
      <form class="form-inline imlookingfor" role="form">
        <div class="form-group">
          I'm looking for a
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
            rehearsal room <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">garden</a></li>
            <li><a href="#">kitchen</a></li>
            <li><a href="#">studio</a></li>
            <li><a href="#">workshop</a></li>
            <li><a href="#">other</a></li>
          </ul>
        </div>

        <div class="form-group">
          in
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="text" class="form-control input-lg" id="exampleInputPassword2" placeholder="Berlin, Germany">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">search</button>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="row filter filter-map">
        <div class="col-md-12">
          <div id="map">
            <img src="/images/map.jpg"></img>
          </div>
        </div>
      </div>

      <div class="row filter filter-price">
        <div class="col-md-12">
          <h3>Price per hour</h3>
          <input type="range" name="points" min="1" max="60" ng-model="sliderVal.first">
          {{sliderVal.first}} &euro;
        </div>
      </div>

      <div class="row filter filter-size">
        <div class="col-md-12">
          <h3>Size</h3>
          <input type="range" name="points" min="1" max="10">
          40 m&sup2;
        </div>
      </div>

      <div class="row filter filter-visibility">
        <div class="col-md-12">
          <h3>Owner</h3>
          <label class="radio-inline">
            <input type="radio" name="visibility" id="visibility-private" value="private"> Private
          </label>
          <label class="radio-inline">
            <input type="radio" name="visibility" id="visibility-business" value="business"> Business
          </label>
          <label class="radio-inline">
            <input type="radio" name="visibility" id="visibility-either" value="either"> Either
          </label>
        </div>
      </div>

      <div class="row filter filter-support">
        <div class="col-md-12">
          <h3>Assistance</h3>
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-yes" value="private"> Assistance available
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-no" value="business"> Without assistance
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-either" value="either"> Either
            </label>
          </div>
        </div>
      </div>

      <div class="row filter filter-equipment">
        <div class="col-md-12">

          <h3>Equipment</h3>
          
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-yes" value="private"> Equipment available
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-no" value="business"> Without equipment
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="support" id="support-either" value="either"> Either
            </label>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-9 entries">

      <div class="row">
        <div class="col-md-8">
          <strong>
            <span class="result-count" ng-switch="entries.length">
              <span ng-switch-when="0">No spaces in Berlin</span>
              <span ng-switch-when="1">1 space in Berlin</span>
              <span ng-switch-default>{{ entries.length }} spaces in Berlin</span>
            </span>
          </strong>
        </div>
        <div class="col-md-4">
          <div class="dropdown pull-right">
            <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
              Sort by <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a role="menuitem" href="" ng-click="predicate = '-price'; reverse=!reverse">Price</a></li>
              <li><a role="menuitem" href="#">Distance</a></li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-unstyled">
        <li ng-repeat="entry in entries | filter:greaterThanNum | orderBy:predicate:reverse" class="entry">
          <div class="row">
            <div class="col-md-3">
              <div class="main-image">
                <img src="{{ entry.image }}"></img>
              </div>
            </div>
            <div class="col-md-9 entry-except-image">
              <div class="row">
                <div class="col-md-1">
                  <img class="owner-image" src="{{ entry.image_owner }}"></img>
                </div>
                <div class="col-md-8">
                  <div class="entry-headline">
                    <a class="name" href="#/details/{{ entry.slug }}">{{ entry.name }}</a><br />
                    <span class="size">{{ entry.location_name }}</span> <span>{{ entry.size_area }}</span><br />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="pull-right">

                    <span class="price">{{ entry.price }}&euro;</span><br />
                    <span class="price-unit">per hour</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">

                  <span class="public">
                    <span ng-show="entry.public">
                      <span class="glyphicon glyphicon-user"></span>
                      Private
                    </span>
                    <span ng-hide="entry.public">
                      <span class="glyphicon glyphicon-briefcase"></span>
                      Business
                    </span>
                  </span>

                  <span class="support">
                    <span ng-show="entry.support">
                      <span class="glyphicon glyphicon-plus"></span>
                      Assistance available
                    </span>
                  </span>

                  <span class="equipment">
                    <span ng-show="entry.equipment">
                      <span class="glyphicon glyphicon-wrench"></span>
                      Equipment available
                    </span>
                  </span>

                </div>
                <div class="col-md-7">
                  <ul class="pull-right actions">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm">Add to wish list</button>
                      <button type="button" class="btn btn-primary btn-sm">Details</button>
                    </div>
                  </ul>
                </div>

              </div>
              <div class="row">
                
                <div class="col-md-12">

                  <span class="rating">
                    <span ng-repeat="n in range(0, entry.rating - 1)" class="glyphicon glyphicon-star"></span><span ng-repeat="n in range(0, 5 - entry.rating - 1)" class="glyphicon glyphicon-star-empty"></span>
                  </span>

                  <span ng-switch="entry.reviews.length" class="reviews">
                    <span ng-switch-when="0">No reviews</span>
                    <span ng-switch-when="1">1 review</span>
                    <span ng-switch-default>{{ entry.reviews.length }} reviews</span>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </row>

</div>